<div class="a">
        <h1>Your Destiny</h1>
    </div>
    <div class="btoc">
    <p class="tit">이름</p><p class="prtoc"><%=@history.name%></p>
    <p class="tit">나이</p><p class="prtoc"><%=@history.age%></p>
    <p class="tit">사는곳</p><p class="prtoc"><%=@history.address%></p>
    <p class="tit">취미</p><p class="prtoc"><%=@history.hobby%></p>
    <p class="tit">원하는 연애의 모습</p><p class="prtoc"><%=@history.introduce%></p>
    <p class="tit">카톡 아이디</p><p class="prtoc"><%=@history.kakao_id%></p>
    </div>
</div>