    <div class="a">
        <h1>My Profile</h1>
    </div>
    
    <br>
  <!--  <form>-->
  <!--<div class="form-group">-->
  <!--  <label for="exampleFormControlInput1">Email address</label>-->
  <!--  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">-->
  <!--</div>-->
  <!--<div class="form-group">-->
    
    <!--mmmmmmmmmmmmmmmmmmmmmmmm-->
    <div class="b">
    <p class="tit">이름</p><p class="pr"><%=@my_data.name%></p>
    <p class="tit">나이</p><p class="pr"><%=@my_data.age%></p>
    <p class="tit">사는곳</p><p class="pr"><%=@my_data.address%></p>
    <p class="tit">취미</p><p class="pr"><%=@my_data.hobby%></p>
    <p class="tit">원하는 연애의 모습</p><p class="pr"><%=@my_data.introduce%></p>
    <p class="tit">카톡 아이디</p><p class="pr"><%=@my_data.kakao_id%></p>
    </div>
    
    <button type="button" class="btn btn-outline-info btn-lg" style="display:block; margin: 40px auto 60px auto;"><a id="editbut" href="/home/edit/<%=current_user.id%>">Edit</a></button>
    <!--mmmmmmmmmmmmmmmmmmmmmmmmmmmmm-->
    
    <!--<a href='#' class='button'>수정</a>-->


    
     <!--<a href="/home/edit/<%=current_user.id%>"><button id = "re">수정</button></a>-->
       



